{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Users' %}{% endblock %}
{% block content %}
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>{% trans 'User name' %}</th>
      <th>{% trans 'Full name' %}</th>
      <th>{% trans 'Date of creation' %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.date_joined }}</td>
      <td>
        <a href="{% url 'user_update' pk=user.id %}">{% trans 'Change' %}</a>
        <br>
        <a href="{% url 'user_delete' pk=user.id %}">{% trans 'Delete' %}</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
