{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body class="min-vh-100 d-flex flex-column">
<header>
  {% include 'includes/nav.html' %}
</header>
{% block before_main %}{% endblock %}
<main class="container wrapper flex-grow-1">
  {% bootstrap_messages %}
  <h1 class="text-center my-4">{% block title %}{% endblock %}</h1>
  {% if object_list is none or object_list%}
    {% block container_start %}
      <!-- Контейнер по умолчанию включен -->
      <div class="list-group-item shadow-sm mb-4 p-4 rounded">
    {% endblock %}

  {% block content %}{% endblock %}

  {% block container_end %}
    </div>
  {% endblock %}
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      {% block no_content_alert %}{% endblock %}
    </div>
  {% endif %}
</main>
{% include 'includes/footer.html' %}
</body>
</html>
